::-webkit-scrollbar {
  width: 6px;    
  background-color: #fff;  
}
::-webkit-scrollbar-track {  
  border-radius: 6px;
  background-color: #fff;  
}
::-webkit-scrollbar-thumb { 
  border-radius: 6px; 
  background-color: #EA977D;  
}
.public-DraftStyleDefault-block{
  text-align:justify !important;
}
pre .public-DraftStyleDefault-block{
  white-space:pre !important;
}
pre::-webkit-scrollbar{
  height: 3px
}
pre::-webkit-scrollbar-thumb{
  background-color: rgba(0, 0, 0, .1) !important;
}
.ant-list-item-meta-description,
.ant-list-item .ant-list-item-meta-title {
  text-align: justify
}